
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: linear-gradient(to right, #4CAF50, #2E8B57);
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header p {
    margin: 10px 0 0;
    font-size: 1.2em;
}


nav {
    background: linear-gradient(to right, #333, #555);
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 1em;
    
}

nav a:hover {
    background: linear-gradient(to right, #555, #777);
    color: black;
}


#registerBtn, #viewRecordsBtn {
    margin: 15px;
    padding: 5px;
    font-weight: bold;
}

#registerBtn:hover{
    cursor: pointer;
}
#viewRecordsBtn:hover{
    cursor: pointer;
}



/* Container for the form */
.container {
    max-width: 600px;
    margin: 30px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-size: 1em;
}

input[type="text"], input[type="email"], input[type="tel"] {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

input[type="submit"] {
    margin-top: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.regBut{
    margin-top: 15px;
    padding: 3px;
    font-weight: bold;
    background: rgba(238, 174, 57, 0.97);
    color: white;
    font-size: 25px;
}
.regBut:hover{
    cursor: pointer;
}


.record-section {
    margin: 30px auto;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-height: 400px; 
    overflow-y: auto;
}

.record-section h2 {
    margin-top: 0;
    font-size: 1.5em;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
    font-size: 1em;
}

th {
    background-color: #f2f2f2;
}

.scrollable {
    max-height: 300px;
    overflow-y: auto;
}

.edit, .delete {
    cursor: pointer;
    color: red;
    margin: 5px;
    padding: 4px;
}


td.data-entered {
    font-weight: bold;
    color: #4CAF50; 
    background-color: #f0f8ff; 
}
